<head><title>{{this.title}}</title></head>
<body>
  <header class="header-content header">
    <div class="logo-content">
        <img src="../assets/logo.png" alt="" class="img-logo">
        <div>
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text emp-payroll">PAYROLL</span>
        </div>
    </div>
</header>

<div class="main-content">
  <h3>Please choose your action</h3><br>
  <a routerLink="/create"><button>Register a Employee</button></a><br>
  <a routerLink="/employee"><button>View all employees</button></a><br>

</div>
</body>
<router-outlet></router-outlet>